<!DOCTYPE html>
<html ng-app="subsliderJS">
<head lang="en">
  <meta charset="UTF-8">
  <title>Subslider.js</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
  <script src="main_ng.js"></script>
  <script src="dirPagination.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="container" ng-controller="FileUploadController" class="container">
    <div class="title">Subslider.js</div>

    <div class="desc">
      <p>
        Subslider.js is a simple script to fix out-of-sync
        subtitles in the .srt format.
      </p>
      <p>
        Load your .srt file using the dialog below, and follow the instructions.
      </p>
    </div>

    <div class="load_area">
      <div id="drop_zone" class="drop_zone"
           dropzone
           on-file-drop="fileDropped">
          Drop your .srt file here
      </div>
      <div class="load_or">
        or...
      </div>
      <input type="file" id="file" name="file" />
    </div>

    <div class="show_on_file_loaded" ng-if="fileUpload.fileUploaded">
      <h2>How to sync your subtitles</h2>
      <p>
        <ol>
          <li>Play your video with subtitles enabled, and skip to a dialog</li>
          <li>Take note of the exact time at which the dialog starts</li>
          <li>Set that time in the <span class="italic">start at</span> field
            below</li>
          <li>Find that line in the table below (use search!),
            and select it</li>
          <li>Press submit</li>
        </ol>
      </p>

      <div class="controls">
        <div
            ng-class="{true: 'has-success', false: 'has-error'}[start.timestamp !== undefined]">
          <label for="startat">Start at</label>
          <input type="text" id="startat" name="startat"
                 class="form-control" placeholder="format is 01:23:45,678"
                 ng-model="start.timestamp" validate-time-format/>
        </div>

        <div
            ng-class="{true: 'has-success', false: 'has-error'}[selected.subtitle !== undefined]">
          <label for="lineid">Line id</label>
          <input type="text" class="form-control" id="lineid"
                 ng-model="selected.subtitle"/>
        </div>

        <div>
          <button type="button"
                  ng-class="{'disabled': !start.timestamp || !selected.subtitle}"
                  ng-click="onSubmit()"
                  class="btn btn-primary btn-lg">Submit</button>
        </div>
      </div>

      <div id="processed_subs" class="processed_subs"
           ng-controller="PaginationController">
        <div class="row">
          <div class="col-xs-4">
            <label for="search">Search:</label>
            <input ng-model="q" id="search" class="form-control"
                   placeholder="Filter text">
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <table>
              <tbody>
              <tr class="header">
                <th scope="col" title="Id">id</th>
                <th scope="col" title="Starts">starts</th>
                <th scope="col" title="Ends">ends</th>
                <th scope="col" title="Lines" class="dialogLine">lines</th>
              </tr>
              <tr
                  dir-paginate="subtitle in subtitles | filter:q | itemsPerPage: pageSize"
                  current-page="currentPage"
                  ng-click="setSelected(subtitle.id)"
                  ng-class="{'selected_row': subtitle.id === selected.subtitle}">
                <td>{{ subtitle.id }}</td>
                <td>{{ subtitle.from | date:"HH:mm:ss,sss":'UTC' }}</td>
                <td>{{ subtitle.to | date:"HH:mm:ss,sss":'UTC' }}</td>
                <td class="dialogLine">{{ subtitle.dialogLines }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="pagination_controls">
          <div class="text-center">
            <dir-pagination-controls
                boundary-links="true"
                on-page-change="pageChangeHandler(newPageNumber)"
                template-url="dirPagination.tpl.html">

                </dir-pagination-controls>
          </div>
        </div>

      </div>
    </div>
  </div>
  <a href="https://github.com/micheleb/subslider.js">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
         alt="Fork me on GitHub"
         data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
</body>
</html>