html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
    /* Margin bottom by footer height */
    margin-bottom: 8em;
}
/* see CSS section from https://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
.dragOverInactive {
    background-color: #eee;
}
.dragOverActive {
    background-color: white;
}
.italic {
    font-style: italic;
}
.container {
    margin: 4em auto;
    width: 37.5em;
    font-size: 1.25em;
}
.desc {
    margin-top: 3em;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 8em;
    background-color: #f5f5f5;
}
.footer .small {
    font-size: 0.9em;
    text-align: center;
    padding: 1.2em;
}
.footer .small a {
    display: inline-block;
}
.footer .small p {
    margin: 0.4em;
}
.footer .small img {
    border: none;
    height: 1.9375em;
    margin-top: 0.4em;
}
.title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}
.flair {
    margin: 2.5em 0 1em;
    height: 20px; /* same height that the buttons have */
}
.fb_iframe_widget span {
    vertical-align: baseline !important; /* override valign bottom */
}
.load_area {
    margin: 2em 0;
}
.load_or {
    font-size: 1.25em;
    margin: 1em 0;
}
.drop_zone {
    border: 2px dashed #bbb;
    padding: 1.5625em;
    border-radius: 0.625em;
    color: #aaa;
}
ol li {
    margin-bottom: 0.75em;
}
input.fileInput {
    display: none;
}
.show_on_file_loaded {
    margin-top: 2.5em;
}
.show_on_file_loaded h2 {
    margin-bottom: 1em;
}
.show_on_file_loaded ol {
    margin-bottom: 2em;
}
.controls input {
    margin-bottom: 1em;
}
.processed_subs {
    margin-top: 2.5em;
}
.panel {
    margin-top: 1em;
    padding: 0;
}
.panel-body {
    padding: 0;
}
table {
    width: 100%;
}
tr {
    font-size: 14px;
}
table tr:hover, table tr:nth-child(even):hover {
    background-color: #d3e7f8;
    cursor: pointer;
}
table tr.header:hover {
    background-color: white;
    cursor: auto;
}
td, th {
    padding: 0.375em;
    white-space: pre;
}
.dialogLine {
    padding-left: 0.375em;
}
table tr:nth-child(even) {
    background-color: #f0f0f0;
}
table tr.selected_row, table tr.selected_row:hover {
    background-color: #5faaec;
    color: white;
}
.raw_subs {
    width: 100%;
    height: 8em;
    margin-top: 1em;
}